<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyh.flowers.dao.IEmployeeDao" >
  <resultMap id="BaseResultMap" type="com.lyh.flowers.pojo.Employee" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="empname" property="empname" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="empno" property="empno" jdbcType="VARCHAR" />
    <result column="phonenumber" property="phonenumber" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="isadmin" property="isadmin" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="lastupdatetime" property="lastupdatetime" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, empname, email, empno, phonenumber, sex, status, isadmin, createtime, lastupdatetime, password
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_library_employee
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="loginCheck" resultMap="BaseResultMap">
  	select * from t_library_employee where empno=#{0} and password=#{1}
  </select>
  
  <select id="getEmpsListBylimit" resultMap="BaseResultMap" parameterType="java.lang.Integer"  >
    select * from t_library_employee limit #{0},#{1}
  </select> 
  
   <select id="findByEmail" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_library_employee
    where email = #{email,jdbcType=VARCHAR}
  </select>
  
  <select id="getAllEmp" resultMap="BaseResultMap" >
    select * from t_library_employee
  </select>
  
  <select id="queryEmp" resultMap="BaseResultMap">
    select * from t_library_employee where (#{0}="-1"||empname like CONCAT(CONCAT('%',#{0}),'%')) and (#{1}="-1"||email=#{1}) limit #{2},#{3}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_library_employee
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <update id="setStatuNA" parameterType="java.lang.String" >
    update t_library_employee set status="不可用"
     where id = #{id,jdbcType=VARCHAR}
  </update>
  <insert id="insert" parameterType="com.lyh.flowers.pojo.Employee" >
    insert into t_library_employee (id, empname, email, empno, phonenumber, sex, status, isadmin, createtime, lastupdatetime, password)
    values (#{id,jdbcType=VARCHAR}, #{empname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{empno,jdbcType=VARCHAR},#{phonenumber,jdbcType=VARCHAR},#{sex,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR},#{isadmin,jdbcType=VARCHAR},#{createtime,jdbcType=VARCHAR},
      #{lastupdatetime,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lyh.flowers.pojo.Employee" >
    insert into t_library_employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="empname != null" >
        empname,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="empno != null" >
        empno,
      </if>
      <if test="phonenumber != null" >
        phonenumber,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isadmin != null" >
        isadmin,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="lastupdatetime != null" >
        lastupdatetime,
      </if>
      <if test="password != null" >
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="empname != null" >
        #{empname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="empno != null" >
        #{empno,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null" >
        #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="isadmin != null" >
        #{isadmin,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="lastupdatetime != null" >
        #{lastupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lyh.flowers.pojo.Employee" >
    update t_library_employee
    <set >
      <if test="empname != null" >
        #{empname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="empno != null" >
        #{empno,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null" >
        #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="isadmin != null" >
        #{isadmin,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="lastupdatetime != null" >
        #{lastupdatetime,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lyh.flowers.pojo.Employee" >
    update t_library_employee
    set empname = #{empname,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      empno = #{empno,jdbcType=VARCHAR},
      phonenumber = #{phonenumber,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      isadmin = #{isadmin,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      lastupdatetime = #{lastupdatetime,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>